@import url('https://fonts.googleapis.com/css?family=Pacifico');
.day {
    background: white;
    color: red;
}
.night {
    background: black;
    color: white;
}
h1 {
    font-family: "Pacifico", cursive;
    font-size: 48px;
}
.ctrlBtnGroup {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: fixed;
    bottom: 150px;
}
.ctrlBtnGroup button {
    margin: 0;
    padding: 10px;
    border: 0;
    outline: none; /* Removes the blue borders on focus */
    background: white;
    transition: all 0.2s;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}
.ctrlBtnGroup button:hover{
    box-shadow: inset 0 0px 2px grey;
}
.ctrlBtnGroup button:active{
    background: lightgray;
}
.ctrlBtnGroup button:first-child {
    border-left: 1px solid grey;
    border-radius: 10px 0 0 10px;
}
.ctrlBtnGroup button:last-child {
    border-radius: 0 10px 10px 0;
}
.ctrlBtnGroup button.active {
    background: lightgray;
    box-shadow: inset 0 0 4px grey;
}
.ctrlBtnGroup button:not(.active) img {
    filter: grayscale(100%);
}
.ctrlBtnGroup button img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}
.ctrlBtnGroup button text {
    font-size: 18px;
    vertical-align: middle;
}

.plantation-area img {
    position: fixed;
    bottom: -5px;
}
.celestials {
    position: absolute;
    top: -100px;
    right: 200px;
    transition: top 0.5s;
}
.day .celestials.sun {
    top: 50px;
    box-shadow: 0px 0px 200px 0px rgb(245, 158, 1);
    border-radius: 50%;
    background: rgba(249, 183, 0, 0.2);
}
.night .celestials.moon {
    top: 50px;
    box-shadow: 0 0 200px 0 white;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.12);
}